[slot='navbar'] {
  /* background-image: linear-gradient(0deg, var(--lumo-shade-5pct), var(--lumo-shade-5pct)); */
}

[slot='navbar'] nav a {
  text-decoration: none;
  transition: color 140ms;
}

[slot='navbar'] nav a .la {
  margin-top: calc(var(--lumo-space-xs) * 0.5);
}

[slot='navbar'] nav a::before {
  border-radius: var(--lumo-border-radius);
  bottom: calc(var(--lumo-space-xs) * 0.5);
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: calc(var(--lumo-space-xs) * 0.5);
  transition: background-color 140ms;
}

[slot='navbar'] nav a[highlight] {
  color: var(--lumo-primary-text-color);
}

[slot='navbar'] nav a[highlight]::before {
  background-color: var(--lumo-primary-color-10pct);
}

[slot='navbar'] footer vaadin-context-menu {
  align-items: center;
  display: flex;
}
