@import url('./main-layout.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');

html {
  --lumo-primary-text-color: rgb(109, 179, 63);
  --lumo-primary-color-50pct: rgba(109, 179, 63, 0.5);
  --lumo-primary-color-10pct: rgba(109, 179, 63, 0.1);
  --lumo-primary-color: #6db33f;
}

[theme~='dark'] {
  --lumo-base-color: #34302d;
  --lumo-primary-text-color: rgb(109, 179, 63);
  --lumo-primary-color-50pct: rgba(109, 179, 63, 0.5);
  --lumo-primary-color-10pct: rgba(109, 179, 63, 0.1);
  --lumo-primary-color: #6db33f;
}

.btn-link {
  margin: 0;
  cursor: pointer;
  pointer-events: none;
}

.pet-list > div {
  border-top: 1px solid #c1c1c1;
}

.pet-list > div:nth-child(even) {
  background-color: #f1f1f1;
}
