html {
  --lumo-primary-text-color: rgb(109, 179, 63);
  --lumo-primary-color-50pct: rgba(109, 179, 63, 0.5);
  --lumo-primary-color-10pct: rgba(109, 179, 63, 0.1);
  --lumo-primary-color: #6db33f;
}

[theme~="dark"] {
  --lumo-base-color: #34302d;
  --lumo-primary-text-color: rgb(109, 179, 63);
  --lumo-primary-color-50pct: rgba(109, 179, 63, 0.5);
  --lumo-primary-color-10pct: rgba(109, 179, 63, 0.1);
  --lumo-primary-color: #6db33f;
}
