vaadin-side-nav.side-nav-top::part(children) {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
}


vaadin-side-nav.side-nav-top vaadin-side-nav-item[current]::part(link) {
    color: var(--lumo-header-text-color);
}

vaadin-side-nav.side-nav-top vaadin-side-nav-item::part(link):hover {
    color: var(--lumo-primary-text-color);
}

